.App {
  color: white;
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.app-title {
  margin-block-start: 0;
}

.home-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.links-row {
  display: flex;
}

.product-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.product-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
}

.product-link:hover {
  transform: scale(1.05);
}

.checkout-button {
  cursor: pointer;
  margin: 0.5rem 0;
  color: #61dafb;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #61dafb;
  background-color: transparent;
  transition: all 0.2s linear;
}

.checkout-button:hover {
  background-color: #61dafb;
  color: white;
}

.product-description {
  color: black;
  font-size: 0.8rem;
}

.product {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.product-description-container {
  margin-left: 1rem;
}

.product-description-container .product-description-title {
  font-size: 1.5rem;
}
.product-description-container .product-description-text {
  font-size: 0.8rem;
}

.navigation-container {
  background-color: #000;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

.footer-container {
  bottom: 0;
  background-color: #000;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.navigation-link {
  text-decoration: none;
  color: #61dafb;
  padding: 1rem;
}

.navigation-link:hover{
  text-decoration: underline;
}
